html, body {
    margin:0;
}

.controls {
    width: 14em;
    height: 5em;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.controls.down {
    -ms-transform: translate(0, 4em); /* IE 9 */
    -webkit-transform: translate(0, 4em); /* Safari */
    transform: translate(0, 4em);
}

#controls div {
    margin: auto;
}

#controlTab {
    width: 14em;
    height: 10em;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
}